<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}")>

<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>

<body>

	<section class="style-home d-flex justify-content-center align-items-center">
		
		
		<div class="text-center">
			<h1 class="font-weight-bold text-center">Hello Home Page</h1>
			<p>
				Revolutionize customer interactions with our sleek Customer Management System. Track, communicate, and
				thrive effortlessly. Stay ahead, stay efficient.
			</p>
                 <a href="/Signup" class="btn btn-primary">Start Now</a></div>
		
	</section>


</body>

</html>