<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}" )>

<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>

<body>

	<section class="style-home d-flex justify-content-center align-items-center">


		<div class="text-center">
			<h1 class="font-weight-bold text-center;" style="color: yellow;">Manage your business easily with Udhaar Khaata</h1>

			<div class="container mt-7, mb-4" style="color:rgb(98, 198, 251); font-size: 15px;">
				<p>Udhaar Khaata is a web app that helps small shopkeepers and Kirana store owners.</p>
				<p> manage their books by helping them track the money owed to them through the means of a digital
					ledger.</p>
				<p> It is 100% Free, Safe and Secure for all types of businesses to maintain their customers' accounts.
				</p>
				<p> Shop owners can use the app to record credit (Jama) and debit (Udhaar) transactions for their
					trusted customers.</p>
				<p> Revolutionize customer interactions with our sleek Customer Management System. Track, communicate,
					and
					thrive effortlessly. Stay ahead, stay efficient.</p>
			</div>


			<a href="/UdhaarKhaata/Signup" class="btn btn-success ">Start Now</a>
		</div>

	</section>


</body>

</html>