<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8" />
    <title>Add Customer</title>
</head>
<body>
    <section>
        <div class="card add-card">
            <div class="card-body">
                <h1 class="text-center" style="color:#3689C9; font-weight: bold">Add New Customer</h1>
                <div class="container-fluid mt-1">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <form action="#" th:object="${customer}" enctype="multipart/form-data" method="post" th:action="@{/User/Process}" class="mt-2">
                                <!-- alert message -->
                                <div th:if="${session.message}" th:classappend="${session.message.msgType}" class="alert" role="alert">
                                    <p class="text-center" th:text="${session.message.msgContent}"></p>
                                    <!-- Remove the message from the session after displaying it -->
                                    <th:block th:text="${@removeSession.removeMassageFromThymeleaf()}"></th:block>
                                </div>
                                <!-- Name -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-user-alt"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="name" name="cName" placeholder="Enter Customer Name" class="form-control" pattern="[A-Za-z ]{4,20}" title="Name must be alphabte & 4-20 characters long" required />
                                </div>
                                <!-- Phone -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="phone" name="cPhone" placeholder="Enter Phone Number" class="form-control" pattern="[0-9]{10}" title="Phone number must be 10 digits" required />
                                </div>
                                <!-- Email -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                    </div>
                                    <input type="email" id="email" name="cEmail" placeholder="Enter Mail Id" class="form-control" required />
                                </div>
                                <!-- Pending Amount -->
                                <div class="input-group mt-3" required>
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-minus"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="pending" name="cPendingAmt" placeholder="Enter Pending Amount" class="form-control" required />
                                </div>
                                <!-- Paid Amount -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                    <input type="text" id="paid" name="cPaidAmt" placeholder="Enter Receved Amount" class="form-control" required />
                                </div>
                                <!-- Details -->
                                <div class="input-group mt-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                    </div>
                                    <textarea name="cDetails" id="details" cols="92" rows="5" placeholder="Enter Customer Details" class="form-control" required></textarea>
                                </div>
                                <!-- Image Upload -->
                                <div class="profile-image mt-3" style="font-weight: bold;">Profile Picture :
                                    <input type="file" name="profileDp" accept=".jpg, .png" />
                                </div>
                                <!-- Button -->
                                <div class="container text-center mt-3">
                                    <button class="btn btn-success">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(() => {
                $(".item").removeClass('active');
                $("#add-link").addClass('active');
            });
        </script>
    </section>
</body>
</html>
