<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::layout(~{::section})}" )>

<head>
	<meta charset="UTF-8" />
	<title>Add Customer</title>
</head>

<body>

	<section>

		<div class="card add-card">
			<div class="card-body">
				<h1 class="text-center" style="color:#3689C9; font-weight: bold">Change <span style="color: rgb(0, 0, 160)" th:text="${shopOwner.soName}"></span> Password</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">

							<form action="#"  method="post" 
								th:action="@{'/User/UpdatingPassword'}" class="mt-2">

                               
								<!--Profile Picture-->
								<div class="container text-center ">
									<img class="profile-dp" src="" style="height: 200px;width: 200px;" th:src="@{'/img/'+${shopOwner.soImage}}" alt="" />
								</div>
										
										
										<!--change password-->
										<div class="mt-2">
											<input type="text" id="name" name="oldPassword" placeholder="Enter Old Password"
												class="form-control" required />
										</div>
										
										<div class="mt-2">
											<input type="text" id="name" name="newPassword" placeholder="Enter New Password"
												class="form-control" required />
										</div>
								
								</div>

								<!--button-->
								<div class="container text-center mt-3">
									<button class="btn btn-success">Update</button>
								</div>


							</form>


						</div>
					</div>
				</div>

			</div>
		</div>
		
		<script>
		$(document).ready(()=>{
			$(".item").removeClass('active');
			$("#setting-link").addClass('active');
		});
	</script>

	</section>


</body>

</html>