<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::layout(~{::section})}" )>

<head>
	<meta charset="UTF-8" />
	<title>Add Customer</title>
</head>

<body>

	<section>

		<div class="card add-card">
			<div class="card-body">
				<h1 class="text-center" style="color:#3689C9; font-weight: bold">Update <span
						style="color: rgb(0, 0, 160)" th:text="${shopOwner.soName}"></span> Profile</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="col-md-8 offset-md-2">

							<form action="#" th:object="${owner}" method="post" enctype="multipart/form-data"
								th:action="@{'/User/UpdatingProfile'}" class="mt-2">


								<!--Profile Picture-->
								<div class="container text-center ">
									<img class="profile-dp" src="" style="height: 200px;width: 200px;"
										th:src="@{'/img/'+${shopOwner.soImage}}" alt="" />
								</div>

								<!--image upload-->
								<div class="profile-image text-center mt-1" style="font-weight: bold;">Update Profile
									Picture :
									<input type="file" name="profileDp" accept=".jpg, .png" />
								</div>

								<!--Name-->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-user-alt"></i>
										</div>
									</div>

									<input type="text" th:value="${shopOwner.soName}" id="name" name="soName"
										placeholder="Enter Name Here" class="form-control" pattern="[A-Za-z ]{4,15}"
										title="Name must be alphabte & 4-15 characters long" required />
								</div>

								<!--Details-->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-briefcase"></i>
										</div>
									</div>
									<textarea name="soAbout" th:text="${shopOwner.soAbout}" id="details"
										placeholder="Enter Your Business Deatils" class="form-control"
										required></textarea>
								</div>
						</div>

						<!--button-->
						<div class="container text-center mt-3">
							<button class="btn btn-success">Update</button>
						</div>

						<div class="container text-center mt-3">

							<a th:href="@{'/User/ChangePassword'}" class="btn btn-warning">Change Password</a>
						</div>

						</form>

					</div>
				</div>
			</div>

		</div>
		</div>

		<script>
			$(document).ready(() => {
				$(".item").removeClass('active');
				$("#setting-link").addClass('active');
			});
		</script>

	</section>


</body>

</html>